<head>
    <link href="http://gmpg.org/xfn/11" rel="profile">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <!-- Enable responsiveness on mobile devices-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
    <link rel="apple-touch-startup-image" href="/apple-startup-image.png">
    <title>
        {% if page.title == "Home" %} {{ site.title }} &middot; {{ site.tagline }} {% else %} {{ page.title }} &middot; {{ site.title }} {% endif %}
    </title>
    <script type="text/javascript">
    ! function(e) {
        "use strict";
        var n = function(n, t, o) {
            function i(e) {
                return a.body ? e() : void setTimeout(function() {
                    i(e)
                })
            }

            function r() {
                l.addEventListener && l.removeEventListener("load", r), l.media = o || "all"
            }
            var d, a = e.document,
                l = a.createElement("link");
            if (t) d = t;
            else {
                var s = (a.body || a.getElementsByTagName("head")[0]).childNodes;
                d = s[s.length - 1]
            }
            var f = a.styleSheets;
            l.rel = "stylesheet", l.href = n, l.media = "only x", i(function() {
                d.parentNode.insertBefore(l, t ? d : d.nextSibling)
            });
            var u = function(e) {
                for (var n = l.href, t = f.length; t--;)
                    if (f[t].href === n) return e();
                setTimeout(function() {
                    u(e)
                })
            };
            return l.addEventListener && l.addEventListener("load", r), l.onloadcssdefined = u, u(r), l
        };
        "undefined" != typeof exports ? exports.loadCSS = n : e.loadCSS = n
    }("undefined" != typeof global ? global : this);

    ! function(t) {
        if (t.loadCSS) {
            var e = loadCSS.relpreload = {};
            if (e.support = function() {
                    try {
                        return t.document.createElement("link").relList.supports("preload")
                    } catch (e) {
                        return !1
                    }
                }, e.poly = function() {
                    for (var e = t.document.getElementsByTagName("link"), n = 0; n < e.length; n++) {
                        var r = e[n];
                        "preload" === r.rel && "style" === r.getAttribute("as") && (t.loadCSS(r.href, r), r.rel = null)
                    }
                }, !e.support()) {
                e.poly();
                var n = t.setInterval(e.poly, 300);
                t.addEventListener && t.addEventListener("load", function() {
                    t.clearInterval(n)
                }), t.attachEvent && t.attachEvent("onload", function() {
                    t.clearInterval(n)
                })
            }
        }
    }(this);
    </script>
    <script type="text/javascript" src="/public/idb.min.js"></script>
    <!-- CSS -->
    <link rel="preload" href="/public/css/material-static-945kky2j.min.css" as="style" onload="this.rel='stylesheet'">
    <noscript>
        <link rel="stylesheet" href="/public/css/material-static-945kky2j.min.css">
    </noscript>
    <link rel="preload" href="/public/css/static-945kky2m.min.css" as="style" onload="this.rel='stylesheet'">
    <noscript>
        <link rel="stylesheet" href="/public/css/static-945kky2m.min.css">
    </noscript>
    <link rel="manifest" href="/manifest.json">
    <!-- Icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/public/apple-touch-icon-precomposed.png">
    <link rel="shortcut icon" href="/public/favicon.ico">
    <!-- RSS -->
    <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">
    <script type="text/javascript" src="/public/static-945kky2j.js"></script>
</head>
